html {
  min-width: 15em;
}

svg {
  display: block;
  overflow: visible;
  margin: 0 auto;
  min-width: 15em;
  min-height: 15em;
  width: 90vmin;
  height: 90vmin;
}

.controls {
  font: 1.125em trebuchet ms, sans-serif;
}
.controls var {
  font: 700 italic 1.125em serif;
}

.initial {
  opacity: .32;
}

.dir--x .sqb:nth-child(even), .dir--y .sqb:nth-child(odd) {
  fill: #4472b9;
}

.coord-syst {
  stroke: #000;
}
.coord-syst path {
  stroke-width: 2;
}
.dir--x .coord-syst .axis--x, .dir--y .coord-syst .axis--y {
  fill: #4472b9;
  stroke: #4472b9;
}
.dir--x .coord-syst .axis--y, .dir--y .coord-syst .axis--x {
  fill: #4ca454;
  stroke: #4ca454;
}
.coord-syst text {
  font: italic 2em serif;
}

.conn, .arc {
  fill: darkorange;
  stroke: darkorange;
  stroke-width: 2;
}

.infopop {
  position: absolute;
  transform: scale(0);
}

input[type='radio'], input[type='radio'] + label {
  cursor: pointer;
}

input[type='range'] {
  display: block;
  padding: 0;
  width: 14em;
  height: 2em;
  background: transparent;
  font-size: 1em;
  cursor: pointer;
}
input[type='range'], input[type='range']::-webkit-slider-runnable-track, input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type='range']::-webkit-slider-runnable-track {
  width: 14em;
  height: .375em;
  background: #333;
}
input[type='range']::-moz-range-track {
  width: 14em;
  height: .375em;
  background: #333;
}
input[type='range']::-ms-track {
  width: 14em;
  height: .375em;
  background: #333;
  color: transparent;
}
input[type='range']::-ms-fill-lower, input[type='range']::-ms-tooltip {
  display: none;
}
input[type='range']::-webkit-slider-thumb {
  margin-top: -.3125em;
  border: none;
  border-radius: 0;
  width: 1em;
  height: 1em;
  box-shadow: inset 0 0 0 3px #333;
  background: #ccc;
}
input[type='range']::-moz-range-thumb {
  border: none;
  border-radius: 0;
  width: 1em;
  height: 1em;
  box-shadow: inset 0 0 0 3px #333;
  background: #ccc;
}
input[type='range']::-ms-thumb {
  border: none;
  border-radius: 0;
  width: 1em;
  height: 1em;
  box-shadow: inset 0 0 0 3px #333;
  background: #ccc;
}
input[type='range']:focus {
  outline: solid 0 transparent;
}
input[type='range']:focus::-webkit-slider-thumb {
  background: #4ca454;
}
input[type='range']:focus::-moz-range-thumb {
  background: #4ca454;
}
input[type='range']:focus::-ms-thumb {
  background: #4ca454;
}

.codebox {
  padding: .5em;
  background: #1d1f21;
  font: 600 1.375em monospace;
}

.token--property {
  color: #c9beca;
}
.token--punctuation {
  color: #ccc;
}
.token--value {
  color: #e4aea0;
}
.token--function {
  color: #8cca92;
}
.token--argument {
  color: #fff;
}
.token--number {
  color: #edb982;
}
.token--unit {
  color: #da9083;
}

@media (min-aspect-ratio: 1 / 1) {
  .panel:first-of-type {
    float: right;
  }
}
@media (max-aspect-ratio: 1 / 1) and (min-width: 30em) {
  .controls {
    overflow: hidden;
  }

  .sub {
    float: left;
  }
}
@media (max-aspect-ratio: 1 / 1) and (min-width: 45em) {
  .controls, .codebox {
    float: left;
  }

  .panel:first-of-type {
    overflow: hidden;
  }
}